/*
* @Author: ZZQ
* @Date:   2018-12-26 13:40:19
* @Last Modified by:   ZZQ
* @Last Modified time: 2018-12-26 16:34:50
*/
.page-wrap{
    padding: 30px 0;
    margin-top: 20px;
    text-align: center;
    background: #fff;
    overflow: hidden;
}
.form-line{
    margin-bottom: 10px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
}
.form-line .label{
    display: inline-block;
    width: 70px;
}
.form-line .input{
    height: 25px;
    line-height: 25px;
    width: 200px;
    font-size: 14px;
}